@import "../../node_modules/bootstrap/scss/functions";
@import "./utils/variables";

@import "./layout/header.scss";
@import "./layout/footer.scss";

@import "./pages/index.scss";

@import "../../node_modules/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Castoro&family=Noto+Sans&family=Noto+Sans+HK:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
// font
body {
  font-family: "Castoro", serif;

  font-family: "Noto Sans", sans-serif;
  // font-family: 'Noto Sans HK', sans-serif;
  font-size: 16px;
  color: #3a3a3a;
}
.font-Kalam {
  font-family: "Kalam", cursive;
}
.container {
  max-width: 1440px;
}

// ----------overlay---------------------------------

 .card:hover .card-img-overlay{background: #3a3a3a;opacity: 0.4;}
.word { opacity: 0;}
.card:hover  .word {opacity:1;  color: #ebe5e5;transition: 1.1s;}


//  .overlay-1{ 
//   position: relative;
//   overflow: hidden;}

//被定位

//  .card:before {   //上層色塊文字
//   position: absolute; //定位在card
//   content: "";
//   width: 100%;    //長寛比例
//   height: 100%;
//   background: #cb6060;//色塊背景色
//   top:-50%;  //色塊的長寬大小
// left:-100%;
// z-index: 1;
// // transform:rotate(25deg) ;
// transform-origin: center top 0;
// transition:0.5s;
// }
// .card:hover:before {
//   left: 0px;
// }
//  .card-img {
//   width: 100%;
//   height: auto;
// }
//  .card-text {
//   width: 100%;
//   padding: 0 20px;
//   position: absolute;
//   top:-100%;
//   color: #fff;
//   left: 0;
//   z-index: 2;
//   transition: 1.1s;
// }
// .card-text{
//   font-family: "Castoro", serif;
// }



// ----------overlay-試做---------------------------------
// .card {           //被定位
//   position: relative;
//   overflow: hidden;
// }
// .card:before {   //上層色塊文字
//   position: absolute; //定位在card
//   content: "";
//   width: 100%;    //長寛比例
//   height: 100%;
//   background: #cb6060;//色塊背景色
//   top:-50%;  //色塊的長寬大小
// left:-100%;
// z-index: 1;
// // transform:rotate(25deg) ;
// transform-origin: center top 0;
// transition:0.5s;
// }
// .card:hover:before {
//   left: 0px;
// }
// .card img {
//   width: 100%;
//   height: auto;
// }
// .card-text {
//   width: 100%;
//   padding: 0 20px;
//   position: absolute;
//   top:-100%;
//   color: #fff;
//   left: 0;
//   z-index: 2;
//   transition: 1.1s;
// }
// .card-text h5 h3{
//   font-family: "Castoro", serif;
// }
// .card:hover .card-text{top: 80px;}
