<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Kalam:wght@700&family=Noto+Serif+TC:wght@400;700&display=swap"
    rel="stylesheet">

</head>

<body>
  <%- include('./layout/header'); -%>
    <!-- banner-img -->
    <div class="container mt-80 g-0 ">
      <img src="../assets/images/home@2x.png" calss="mt-80" alt="" srcset="">
    </div>
    <!-- banner-img end-->

    <!-- contant 1 -->
    <div class="container g-0  ">
      <div class="card mb-3  pt-80 pb-40">
        <div class="row g-3 mx-auto">
          <div class="col-md-6 ">
            <img src="../assets/images/home01.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6 ">
            <div class="card-body  pt-50">
              <p class="text-secondary fs-4 font-Kalam " style="line-height:40px ;">Service</p>
              <p class="card-title  fs-3" style="line-height: 50px;">您出錢 我出力 一起助浪浪</p>
              <p class="card-text fs-6 " style="line-height: 32px;  letter-spacing: 1.28px;">我們是一群貓奴才狗奴才，
                <br>希望能透過自己小小的力量幫助浪貓浪狗們，<br>可我們沒什麼錢錢，但我們喜歡畫畫、喜愛貓狗，<br>於是想到個兩全其美的好法子！<br>如果您購買我們的寵物似顏繪服務，<br>我們將會把設計費100%全數捐給浪浪們！
                <br> 您出錢，我出力，合作無間讓浪浪有飯吃，讚啦！
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- contant 1 end-->

    <!-- contant 2-->
    <div class="container overlay  gx-2 pt-40 ">
      <img class="mx-auto d-block" src="../assets/images/title01.png" class="mx-auto d-block" alt="" srcset="">

      <!--  圖片 overlay   -->


      <div class="row  mx-auto  pt-40 ">
        <div class="col-md-3 col-sm-6">
          <div class="card overlay  rounded-3">
            <img src="../assets/images/dog05.png" class="rounded-3" alt="...">
            <div class="card-img-overlay ">
              <div class="card-title">
                <p class="word fs-6 font-Kalam pt-160">designer <br><span class="fs-5">Meili</p>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card overlay  rounded-3">
            <img src="../assets/images/dog07.png" class="rounded-3" alt="...">
            <div class="card-img-overlay ">
              <div class="card-title">
                <p class="word fs-6 font-Kalam pt-160">designer <br><span class="fs-5">Meili</p>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card overlay  rounded-3">
            <img src="../assets/images/dog06.png" class="rounded-3" alt="...">
          <a href="https://www.w3schools.com/"   target="_blank">222</a>
          
            <div class="card-img-overlay ">
              <div class="card-title">
                <p class="word fs-6 font-Kalam pt-160">designer <br><span class="fs-5">Meili</p>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card overlay  rounded-3">
            <img src="../assets/images/Michael.png" class="rounded-3" alt="...">
            <div class="card-img-overlay ">
              <div class="card-title">
                <p class="word fs-6 font-Kalam pt-160">designer <br><span class="fs-5">Meili</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center my-40 ">
        <button type="button" class="btn btn-outline-dark mx-12 px-40 fs-20 rounded-pill ">
          <a href="" class=""></a> 查看更多作品</button>
        <button type="button" class="btn btn-secondary  mx-12 px-40 fs-20 rounded-pill">客製毛孩似顏繪</button>
      </div>
    </div>

    <!-- </div> -->
    <div class="container  g-0">
      <div class="mx-auto pt-40 pb-80">
        <img src="../assets/images/title02.png" class="mx-auto d-block" alt="" srcset="">
        <p class="fs-6 text-center pt-20">這裡是在還在等家的浪浪們，若您正巧在找個家人，不訪來認識一下唄</p>
        <div class="row  d-flex pt-40  d-flex gx-2 ">
          <div class="col-xl-4 ">
            <div class="card" style="border-radius: 24px;">
              <img src="../assets/images/06.png" class="card-img-top" style="border-radius: 24px 24px 0 0;" alt="...">
              <div class="card-body">
                <p class="card-title fs-6 fw-bold">
                  等家中-華仔</p>
                <p class="card-text  fs-6 mt-16 mb-26  ">目前7個月大的華仔，是個愛笑的貪吃鬼，喜歡吃西瓜還有蓮霧，是一隻吃素的乖狗狗，會挑食不喜歡...</p>
                <a href="#"
                  class="btn  text-center d-block  font-Kalam border border-bottom-0 border-end-0 border-start-0 pt-16 pb-0">MORE</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 ">
            <div class="card " style="border-radius: 24px;">
              <img src="../assets/images/04.png" class="rounded-top " style="border-radius: 24px 24px 0 0;" alt="...">
              <div class="card-body">
                <p class="card-title fs-6 fw-bold">
                  等家中-小呆</p>
                <p class="card-text  fs-6 mt-16 mb-26  ">小呆有著圓圓的大眼睛，一歲的他來自台中，原本陪著一位老奶奶生活，上個月奶奶行動不便不能再陪...</p>
                <a href="#"
                  class="btn  text-center d-block  font-Kalam border border-bottom-0 border-end-0 border-start-0 pt-16 pb-0">MORE</a>
              </div>
            </div>
          </div>

          <div class="col-xl-4 ">
            <div class="card " style="border-radius: 24px;">
              <img src="../assets/images/08.png" class="card-img-top" style="border-radius: 24px 24px 0 0;" alt="...">
              <div class="card-body">
                <p class="card-title fs-6 fw-bold">
                  等家中-Snow</p>
                <p class="card-text  fs-6 mt-16 mb-26  ">看起來很兇但特別怕打雷的Snow，很喜歡吃冰，冰冰的水也喜歡，如果摸他的額頭會發出吹口哨的聲...</p>
                <a href="#"
                  class="btn  text-center d-block  font-Kalam border border-bottom-0 border-end-0 border-start-0 pt-16 pb-0">MORE</a>
              </div>
            </div>
          </div>
        </div>



        <div class="d-flex justify-content-center mt-50 ">
          <button type="button" class="btn btn-outline-dark mx-12 px-40 fs-20 rounded-pill ">
            <a href="" class=""></a> 看看更多浪浪</button>
        </div>
      </div>
    </div>

    <!-- <div class="card" style="width: 18rem">
      <img src="../assets/images/home@2x.png" class="card-img-top" alt="cat" />
      <div ="card-body">
        <h5 class="card-title">卡片元件</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit, iusto odio assumenda alias id
          nobis earum!
        </p>
      </div>
    </div> -->

    <!-- Modal 按鈕 -->

    <!-- Modal 元件 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------------------------------- -->

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <img src="../assets/images/04.png" alt="">
            <div class="card-text">
              <h3>debbie</h3>
              <h5>123456</h5>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="card">
            <img src="../assets/images/04.png" alt="">
            <div class="card-text">
              <h3>debbie</h3>
              <h5>123456</h5>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="card">
            <img src="../assets/images/04.png" alt="">
            <div class="card-text">
              <h3>debbie</h3>
              <h5>123456</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>